@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@font-face {
  font-family: "Bebas-Neue";
  src: url("/fonts/BebasNeuewebfont.eot");
  src: local("BebasNeuewebfont"),
    url("/fonts/BebasNeuewebfont.woff") format("woff"),
    url("/fonts/BebasNeuewebfont.ttf") format("truetype");

  font-display: swap;
}

@font-face {
  font-family: "Bebas-Neue-Thin";
  src: url("/fonts/Bebas-Neue-Thin.ttf.woff") format("woff"),
    url("/fonts/Bebas-Neue-Thin.ttf.svg#Bebas-Neue-Thin") format("svg"),
    url("/fonts/Bebas-Neue-Thin.ttf.eot"),
    url("/fonts/Bebas-Neue-Thin.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Crunold";
  src: url("/fonts/Crunold-Regular.eot");
  src: local("/fonts/Crunold Regular"), local("/fonts/Crunold-Regular"),
    url("/fonts/Crunold-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Crunold-Regular.woff2") format("woff2"),
    url("/fonts/Crunold-Regular.woff") format("woff"),
    url("/fonts/Crunold-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  overflow-x: hidden;
}

h1 {
  font-family: "Crunold";
  font-size: 30px;
}

.heading1{
  padding-top : 10vh;
  padding-bottom: 5vh;
  color : #e3245b;
  font-family : 'Crunold';
  text-align : center;
  font-size: 2em;
}
